In [3]:
print("hello ! ðŸ˜Š")

hello ! ðŸ˜Š

In [1]:
str1="hello \"Dhwani\""
print(str1)

hello "Dhwani"

In [3]:
str2=r"F:\UPES\codes program\python\github"
str2

'F:\\UPES\\codes program\\python\\github'

In [4]:
name=input("Enter your name:")
print("Hi "+name)

Enter your name: dhwani

Hi dhwani

In [5]:
age=21
str1="hello {} and my age is {}".format(name,age)
print(str1)

hello dhwani and my age is 21

In [6]:
str1=f"hello {name} and my age is {age}"
print(str1)

hello dhwani and my age is 21

In [8]:
str1="  hello planet "
print(str1.find("e"))
print(str1)

3
  hello planet

In [10]:
print(str1.strip())

hello planet

In [12]:
len(str2),len(str1)

(35, 15)

In [18]:
bool(1),bool(0),bool(-1)

(True, False, True)

## sep 2, 2024

In [35]:
str="subheading"

In [36]:
s1=str[0:3:].capitalize()
s2=str[3::].capitalize()
print(s1+s2)

SubHeading

In [39]:
s1=str[0:3:].title()
s2=str[3::].title()
print(s1+s2)

SubHeading

In [47]:
print(str[0].upper() +str[1:3]+ str[3].upper()+str[4::])

SubHeading

In [53]:
print(str.find("s"))

0

In [58]:
str.find("d")

6

In [20]:
s=233326/48
print(s)

4860.958333333333

In [21]:
round(s,2)

4860.96

In [46]:
s1=23.5
s2=-34
abs(s1),abs(s2)

(23.5, 34)

In [24]:
#sys - system library

In [25]:
import sys

In [26]:
x=50
size=sys.getsizeof(x)
print(f"Size of x: {size} bytes")

Size of x: 28 bytes

In [32]:
def myprint(testvar):
    print(f"value is {testvar}")
    print(f"id is {id(testvar)}")
    print(f"type is {type(testvar)}")
    print(f"size is {sys.getsizeof(testvar)}")

myprint("dhwani")
print()
myprint(12345)

value is dhwani
id is 1531748500016
type is <class 'str'>
size is 55

value is 12345
id is 1531748174128
type is <class 'int'>
size is 28

In [33]:
#id

In [36]:
a=12
b=21
print(id(a))
print(id(b))

140734071624840
140734071625128

In [40]:

c=a+1
print(id(c))
c=a-1
print(id(c))

140734071624872
140734071624808

In [42]:
for i in range(10):
    a=i
    print(id(a))

140734071624456
140734071624488
140734071624520
140734071624552
140734071624584
140734071624616
140734071624648
140734071624680
140734071624712
140734071624744

In [44]:
#list address
list1=["a","b",1,2,3,5.0]
print(id(list1))

1531748994048

In [48]:
a=[1,2,3]
b=[4,5]
c=[a,b]
print(c)

[[1, 2, 3], [4, 5]]

In [53]:
c[1][1],c[0][0]

(5, 1)

In [52]:
a=a*2
print(a)

[1, 2, 3, 1, 2, 3]

In [54]:
dict1={"name":"dhwani","age":21}
print(dict1)

{'name': 'dhwani', 'age': 21}

In [56]:
dict1["name"]

'dhwani'

#### Wap that take a input from user in number form and prints its table

In [66]:
num=int(input("Enter number: "))
for i in range(1,11):
    print(f" {num} X {i} = {num*i}")

Enter number:  3

 3 X 1 = 3
 3 X 2 = 6
 3 X 3 = 9
 3 X 4 = 12
 3 X 5 = 15
 3 X 6 = 18
 3 X 7 = 21
 3 X 8 = 24
 3 X 9 = 27
 3 X 10 = 30

#### write a function that give sum,average,minimum an maximum of all the input arguments.

In [72]:
n=int(input("Enter size :"))
l1=[]
for i in range(n):
    num=int(input("enter your num : "))
    l1.append(num)
print("list of number : ",l1)
def calc(l):
    sums=0
    for i in l:
        sums=sums+i
    average=sums/len(l)
    print("Sum :",sums)
    print("Average :",average)
    print("Minimun :",min(l))
    print("Maximun :",max(l))
calc(l1)

Enter size : 2
enter your num :  3
enter your num :  1

your list of number :  [3, 1]
Sum : 4
Average : 2.0
Minimun : 1
Maximun : 3

In [73]:
# create a matrix then store it in another varible then multiply the another matrix by any constant number then print both of the matrix

In [77]:
matrix1=[[1,2,3],[4,5,6],[7,8,9]]
matrix2 = matrix1

In [78]:
matrix1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [83]:
num=int(input("Enter number:"))
for i in range(3):
    for j in range(3):
        matrix2[i][j]=int(matrix2[i][j])*num
print("matrix second : " ,matrix2)
print()
print("matrix first :" ,matrix1)

Enter number: 3

matrix second :  [[108, 216, 324], [432, 540, 648], [756, 864, 972]]

matrix first : [[108, 216, 324], [432, 540, 648], [756, 864, 972]]

In [87]:
for i in range(3):
    for j in range(3):
        print(matrix2[i][j],end=" ")

108 216 324 432 540 648 756 864 972

In [ ]:
#copy funcation

In [89]:
import copy
listA=[1,2,3,[4,5]]
listB=copy.copy(listA)
def showDetails(listA,listB):
    listB[1]=6
    listB[3][0]=7
showDetails(listA,listB)
print(id(listA))
print(id(listB))

1531748355264
1531723259520

#### Write a program to enter add three numbers and return its value

In [90]:
def sum(a,b,c):
    return a+b+c
sum=sum(10,3,2)
print("result :",sum)

result : 15

In [91]:
def sum_(a, *args):
    res=a
    for i in range(0,len(args)):
        res=res+args[i]
    return res

res=sum_(1,2,3,4)
print(res)

10